*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.main-div{
    width: 100vw;
    min-height: 100vh;
    display: grid;
    place-items: center;
    background: hsl(206, 92%,94%);
    
}
.inner-div{
    width: 40vw;
    background: #fff;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 8rem;
    padding-right: 8rem;
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
}
.inner-div h1{
    font-size: 3rem;
    margin-top: 1.5rem;
    font-weight: 400;
    margin: 1rem 0rem 4rem;
}
.inner-div li{
    font-size: 2rem;
    margin-top: 1.5rem;
}
input{
    cursor: pointer;
}
#submit{
    padding:1rem 3rem;
    font-size: 1rem;
    outline: none;
    margin:2rem;
    display: block;
    /* border:none; */
    color: #fff; 
    text-transform: uppercase;
    background:#74b9ff; 
    border-radius: 1rem; 
} 
.btn{
    text-align: center;
    padding:1rem 3rem;
    margin-top:2rem;
    margin-left: 0rem;
    border-radius: 1rem; 
}
#submit :hover{
    background-color: green;
}
#showScore{
    background-color: #fff;
    margin-top: 3rem;
    padding: 2rem 5rem;
    /* box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3); */
}
/* .scoreArea{
    display: none;
}  */